.body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.title {
    width: 100%;
    background-color: rgb(248, 248, 248);
    position: fixed;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.content {
    padding-top: 10vh;
}

h1 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.work {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(241, 241, 241);
}

.row {
    width: 100%;
}

.header-text-container {
    padding-top: 5%;
    padding-bottom: 5%;
}

.header-image-container {
    background-image: url(https://images.pexels.com/photos/8467261/pexels-photo-8467261.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-size: cover;

}

h2 {
    padding-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    text-align: center;
}

.header-text-container p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    text-align: center;
}

.col-sm-1 {
    background-color: rgb(204, 132, 114);
}

.sign-up-container {
    padding-top: 5vh;
}


.sign-up {
    background-color: white;
    margin-bottom: 10vh;
    font-family: 'Nunito', sans-serif;
    padding: 5% 5% 5% 5%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


